.debug .row{
    background: rgba(255,255,255, 0.6);
    border: 1px solid black;
  }
.debug .wrapped {
    background: red;
}

.debug .border {
    border: 1px solid black;
}


/* ------------------------------MY STYLE--------------------------- */

body {
    font-size: 14px;
    color: #b3b3b3;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 24px;
    color:white;
}

/* ---RESET IMPO BOOSTRAP--- */
ul {
    padding-inline-start: 0;
}

hr {
    margin-top:5px;
    margin-bottom: 5px;
}


/* --------COMMON------ */
.wrapped {
    width: 100%;
    height: 100vh;
}
.hover_grow {
    transition: transform 200ms;
}
.hover_grow:hover{
    transform: scale(1.1,1.1);
}

.flex {
    display: flex;
}
.flex_justify_center{
    justify-content: center;
}
.flex_justify_start{
    justify-content: start;
}
.flex_justify_end{
    justify-content: flex-end;
}
.flex_justify_spacebetween{
    justify-content: space-between;
}
.flex_justify_stretch {
    justify-content: stretch;
}

.flex_align_center {
    align-items: center;
}
.flex_align_start {
    align-items: flex-start;
}
.flex_wrap {
    flex-wrap: wrap;
}

.ms_sidebar_section_padding {
    padding-top: 5px;
    padding-bottom: 5px;
}
ul {
    margin-bottom: 0;
}
ul li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

#sidebar,
footer {
    background-color: #000;
}

  
  
  /* ---------------------------------MAIN SECTION------------------------------ */
main {
    height: calc(100vh - 80px);
}


/* ----------------SIDEBAR------------------- */
#sidebar {
    position: relative;
    width: 60px;
    height: 100%;
    flex-direction: column;
    font-size:14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* ---LOGO--- */

#logo_section img {
    max-width: 100%;
}



/* ---NAVIGATION--- */
#nav_section li {
    position: relative;
}
#nav_section ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#nav_section ul li a img {
    width: 2em;
    height: 2em;
    margin-right: 10px;
}

#nav_section li:hover ::before{
    border-left: 3px solid limegreen;
    content : "";
    position: absolute;
    left : -5px;
    top  : 0;
    height  : 100%;
    width   : 3px;  /* or 100px */
    border-left:3px solid limegreen;  
}
#nav_section .active ::before{
    border-left: 3px solid limegreen;
    content : "";
    position: absolute;
    left : -5px;
    top  : 0;
    height  : 100%;
    width   : 3px;  /* or 100px */
    border-left:3px solid limegreen;  
}

/* ---PLAYLIST--- */
#playlist_section {
    text-transform: capitalize;
    flex-grow: 1;
    min-height: 160px;
    overflow-y: scroll;
    visibility: hidden;
}

#playlist_section h1 {
    text-transform: uppercase;
    color: white;
    font-size: 16px;
}

#playlist_section .glyphicon {
    background: lightgray ;
    color:black;
    padding:10px;
}

#playlist_section ul li {
    padding: 5px 0;
}


/* ---USER--- */

.app_installer img {
    height: 1.5em;

}

#profile_picture {
    width: 1.6em;
    height: 1.6em;
    border: 1px solid white;
    border-radius: 50%;
}

/* ----------------------------------LIBRARY--------------------------- */
#library {
    position: relative;
    width: calc(100% - 60px);
    height: 100%;
    overflow-y: scroll;
    background-color: #1b1b1b;
}

/* --UPGRADE BAR-- */
#upgrade_bar {
    position: fixed;
    top:0;
    width: calc(100% - 60px);
    height: 60px;
    padding: 10px 0;
    z-index: 1;
    background-color: #101010;
    color: white;
}

#upgrade_bar a {
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px 30px;
}

/* --CONTENT LIBRARY-- */
#content_library {
    margin-top: 60px;  
}

.library_category li {
    display: inline;
    padding:5px 10px;
    text-transform: uppercase;
    position: relative;   
}
.library_category li:hover ::before{
    border-bottom: 3px solid limegreen;
    content : "";
    position: absolute;
    left    : 30%;
    bottom  : 0;
    height  : 3px;
    width   : 40%;  /* or 100px */
    border-bottom:3px solid limegreen;  
}
.library_category .active ::before{
    border-bottom: 3px solid limegreen;
    content : "";
    position: absolute;
    left    : 030%;
    bottom  : 0;
    height  : 3px;
    width   : 40%;  /* or 100px */
    border-bottom:3px solid limegreen;  
}


.music_block_list li {
    flex-basis: calc(100% / 2);
    padding: 0 5px;
}

.music_block {
    text-align: center;
}
.music_block .item_cover {
    max-width: 100%;
}
#artisti_popolari .music_block .item_cover {
    border-radius: 50%;
    overflow:hidden;
}
.music_block .item_title {
    font-size: 1.1em;
}
.music_block .item_caption {
    font-size: 0.75em;
}

.item_cover {
    position: relative;
}
.item_cover img {
    width: 100%;
}
.item_cover .overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.music_block:hover .item_cover .overlay {
    display: block;
}

.item_cover .overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 70px;
    color: white;
}

.item_title {
    color: white;
}


/* -------------------------FOOTER--------------------------- */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
}

.player_section {
    height: 100%;
}
.player_section p{
    margin-bottom: 0;
}

.player_section i{
    margin:0 5px
}

/* --PLAYER LEFT-- */

.player_left .running_song_cover {
    width: 40px;
    height: 40px;
}
.player_left .running_song_info {
    margin-left: 5px;
}
.player_left .running_song_icon {
    margin-left: 10px;
}

.player_left .running_song_author {
    color: white;
    font-weight: bold;
}
.player_left .running_song_author a:hover,
.player_left .running_song_title a:hover {
    text-decoration: underline;
}
.player_left .running_song_title {
    font-size: 0.8em;
}


/* --PLAYER MID-- */
.player_mid {
    flex-grow: 3;
}
.barra{
    margin:0 10px;
    height: 5px;
    border-radius: 50px;
    background: #b3b3b3;
    position: relative;
}
.barra_avanzamento {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 50px;
    background: white;
    transition: background 0s;
}
.barra_avanzamento:hover {
    background: limegreen;
}
.barra_avanzamento:hover::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-25%);
    width:15px;
    height: 15px;
    background: white;
    border-radius: 50%;
}

.player_mid .barra {
    width:50%;
}
.player_mid .fa-play-circle {
    font-size: 1.8em;
}

/* --PLAYER MID-- */
.player_right .barra {
    width:80px;
}











@media all and (min-width:768px) {
#sidebar {
    width: 180px;
} 

#logo_section {
    height: 80px;
}

#logo_section img {
    max-height: 70px;
    padding: 5px 0;
    max-width: 100%;
}

#playlist_section {
    visibility: visible;
}

.app_installer img {
    height: 1.2em;
    margin-right: 10px;
}

#profile_picture {
    width: 1.6em;
    height: 1.6em;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;

}


#library {
    width: calc(100% - 180px)
}
#upgrade_bar {
    width: calc(100% - 180px);
}
}


@media all and (min-width:992px) {
.music_block_list li {
    flex-basis: calc(100% / 4);
}
}

@media all and (min-width:1200px) {
.music_block_list li {
    flex-basis: calc(100% / 6);
}
    }